.paginationContainer {
  /* width: 100px; */
  margin: 0 auto;
  /* margin-top: auto; */
  display: flex;
  list-style-type: none;

  gap: 0.5625rem;
}

.paginationItem {
  width: 1.875rem;
  height: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #e2e8f0;

  font-weight: 700;
  font-size: 16px;
  color: #2c5282;

  transition: all 250ms linear;
}

.paginationItem:hover,
.paginationItem:focus {
  background-color: #4299e1;
  color: #e2e8f0;
}

.paginationItemActive {
  width: 1.875rem;
  height: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #2a4365;

  font-weight: 700;
  font-size: 16px;
  color: #f7fafc;
}

.paginationItemLastBtn {
  width: 1.875rem;
  height: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border: none;
  background-color: #e2e8f0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.187;
  color: #2c5282;
}

.pagesList {
  margin-top: 2.125rem;
  display: flex;
  flex-direction: column;
  gap: 0.5625rem;

  flex-grow: 1;

  margin-bottom: 3.125rem;
}

.fileList {
  margin-top: 2rem;
  margin-bottom: 2.3125rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.0625rem;
  flex-grow: 1;
}

@media screen and (min-width: 85.375rem) {
  .fileList {
    margin-top: 0.75rem;
  }
}
