.page {
  width: 100%;
  height: 100%;
  padding: 2.25rem 3.9375rem 4.5625rem 1.4375rem;

  display: flex;
  flex-direction: column;
}

.sortBar {
  padding-bottom: 1.0625rem;
  border-bottom: 1px solid #e2e8f0;

  display: flex;
  align-items: center;
}

.sortBar__list {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

/* .sortBar__item {
} */

.sortBar__btn {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.187;
  color: #2c5282;

  background-color: transparent;
  border: none;
  padding: 0.5rem 0rem;

  cursor: pointer;

  transition: all 250ms linear;
}

.sortBar__btn:hover,
.sortBar__btn:focus {
  color: #4299e1;
}

.addBtn {
  display: flex;
  align-items: center;
  gap: 0.625rem;

  text-decoration: none;
  margin-left: 9.0625rem;
  padding: 0.5625rem 1.5rem 0.5625rem 0.875rem;

  background: #2a4365;
  border-radius: 0.3125rem;

  font-weight: 700;
  font-size: 1rem;
  line-height: 1.187;
  color: #fffcfe;

  transition: all 250ms linear;
}

.addBtn:hover,
.addBtn:focus {
  background-color: #4299e1;
}
