.container {
  display: flex;
  align-items: center;
  gap: 1.4375rem;

  width: 180px;
}

.user__name {
  font-size: 0.875rem;
  line-height: 1.143;
  color: #2a4365;
}

.user__badge {
  padding: 0.3125rem 1.0625rem;

  background: #2c5282;
  border-radius: 3.125rem;

  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.143;

  color: #fffcfe;
}

@media screen and (min-width: 90rem) {
  .container {
    justify-content: space-between;

    max-width: 15rem;
  }
}
