.header {
  padding: 1rem 1rem;
  margin: 0 auto;
  background-color: #2d3748;

  max-width: 90rem;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 41.625rem) {
  .header {
    padding: 1.125rem 2.5rem;
  }
}
