.filter__list {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.filter__list__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.filter__list__btn {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.187;
  color: #2c5282;

  background-color: transparent;
  border: none;
  padding: 0.5rem 0rem;

  cursor: pointer;

  transition: all 250ms linear;
}

.filter__list__btn:hover,
.filter__list__btn:focus {
  color: #4299e1;
}
