.page {
  padding-right: 3.75rem;
  display: flex;
}

.sidebar {
  padding: 4.375rem;
  background-color: #edf2f7;
  max-width: 18.75rem;
}

.sidebar__title {
  font-size: 1.125rem;
  line-height: 1.167;
  color: #4299e1;
  margin-bottom: 2rem;
}

.sidebar__list {
  list-style: none;
}

.sidebar__list:not(:last-child) {
  margin-bottom: 2rem;
}

.list__item {
  display: flex;
  align-items: center;
  gap: 0.8125rem;
}

.list__item:not(:last-child) {
  margin-bottom: 1.9375rem;
}

.list__link {
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 1.167;
  color: #2c5282;

  transition: all 250ms linear;
}

.list__link:hover,
.list__link:focus {
  color: #63b3ed;
}

.list__linkActive {
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 1.167;
  color: #2c5282;

  font-weight: 900;

  transition: all 250ms linear;
}

.list__linkActive:hover,
.list__linkActive:focus {
  color: #63b3ed;
}
