.sidebar {
  position: absolute;
  top: 80px;
  left: -16rem;
  padding: 4.3rem;
  background-color: #edf2f7;
  width: 16rem;

  transition: all 250ms linear;
}

.sidebar__open {
  composes: sidebar;
  left: 0;
}

.menuIcon {
  position: absolute;
  top: 0.625rem;
  right: -3rem;
}

.sidebar__title {
  font-size: 1.125rem;
  line-height: 1.167;
  color: #4299e1;
  margin-bottom: 2rem;
}

.sidebar__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 10rem;
}

.sidebar__list:not(:last-child) {
  margin-bottom: 2rem;
}

.list__item {
  display: flex;
  align-items: center;
  gap: 0.8125rem;
}

.list__item:not(:last-child) {
  margin-bottom: 1.4rem;
}

.list__link {
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 1.167;
  color: #2c5282;

  transition: all 250ms linear;
  width: 100%;
}

.list__link:hover,
.list__link:focus {
  color: #63b3ed;
}

.list__linkActive {
  composes: list__link;

  font-weight: 900;
}

.list__linkActive:hover,
.list__linkActive:focus {
  color: #63b3ed;
}

@media screen and (min-width: 41.625rem) {
  .list__item:not(:last-child) {
    margin-bottom: 1.9375rem;
  }
}

@media screen and (min-width: 64rem) {
  .sidebar {
    position: static;
    width: 18.85rem;
    height: 100%;
  }
}
