.backdrop {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.backdropClosed {
  composes: backdrop;
  pointer-events: none;
  z-index: 1;
}

.sidebar {
  position: absolute;
  top: 0;
  left: -16rem;
  padding: 4.3rem;
  background-color: #edf2f7;
  width: 16rem;

  transition: all 250ms linear;
  z-index: 10;

  min-height: 100%;
}

.sidebar__open {
  composes: sidebar;
  left: 0;

  z-index: 1000;
}

.menuIcon {
  position: absolute;
  top: 0.625rem;
  right: -3rem;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: all;
}

.sidebar__title {
  font-size: 1.125rem;
  line-height: 1.167;
  color: #4299e1;
  margin-bottom: 2rem;
}

.sidebar__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 10rem;
}

.sidebar__list:not(:last-child) {
  margin-bottom: 2rem;
}

.list__item {
  display: flex;
  align-items: center;
  gap: 0.8125rem;
}

.list__item:not(:last-child) {
  margin-bottom: 1.4rem;
}

.list__link {
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 1.167;
  color: #2c5282;

  transition: all 250ms linear;
  width: 100%;
}

.list__link:hover,
.list__link:focus {
  color: #63b3ed;
}

.list__linkActive {
  composes: list__link;

  font-weight: 900;
}

.list__linkActive:hover,
.list__linkActive:focus {
  color: #63b3ed;
}

@media screen and (min-width: 41.625rem) {
  .list__item:not(:last-child) {
    margin-bottom: 1.9375rem;
  }
}

@media screen and (min-width: 64rem) {
  .backdrop {
    position: static;

    pointer-events: all;
  }

  .sidebar {
    position: static;
    width: 14rem;

    padding: 2rem;

    flex-grow: 1user;
  }
}

@media screen and (min-width: 85.375rem) {
  .sidebar {
    padding: 4.3rem;
    width: 18.85rem;
  }
}
