.logo__link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo__text {
  font-size: 1.25rem;
  line-height: 1.15;

  color: #ffffff;
}

.logo__text span {
  color: #63b3ed;
}
