.container {
  max-width: 1440px;
  margin: 0 auto;

  background-color: #f7fafc;
  position: relative;
}

.header {
  padding: 2.25rem 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  z-index: 1;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5.125rem;
  background: transparent;
}

.nav__link {
  text-decoration: none;
  color: #fffcfe;
  padding: 0.5rem 0;
  font-size: 1.25rem;
  line-height: 1.15;

  transition: all 250ms linear;
}

.nav__link:hover,
.nav__link:focus {
  color: #2d3748;
}

.hero {
  position: relative;
  padding-top: 13.312rem;
  padding-bottom: 33.625rem;
  text-align: center;

  border-bottom-left-radius: 150%;
  border-bottom-right-radius: 150%;
}

.hero img {
  position: absolute;
  top: 0;
  left: 0;
}

.hero div {
  position: relative;
  z-index: 1;
}

.hero__logo {
  color: #f7fafc;
  font-size: 6.26rem;
  line-height: 1.17;

  z-index: 1111;
}

.hero__logo span {
  color: #2d3748;
}

.hero__title {
  font-size: 2.5rem;
  color: #fffcfe;

  line-height: 1.175;
}

.hero__btn {
  display: inline-block;
  margin-top: 3.125rem;
  margin-bottom: 1.437rem;
  text-decoration: none;
  color: #ffffff;
  padding: 1.875rem 1.562rem;
  border: 3px solid #f7fafc;
  border-radius: 5px;

  font-size: 1.875rem;
  line-height: 1.167;

  transition: all 250ms linear;
}

.hero__btn:hover,
.hero__btn:focus {
  color: #2d3748;
  border-color: #2d3748;
}

.hero__description {
  color: #ffffff;
  font-size: 0.938rem;
  line-height: 1.2;
}

.feature {
  position: relative;
  height: 45rem;
}

.feature img {
  max-width: 70.1875rem;
  height: auto;

  position: absolute;
  top: 0;
  left: 50%;

  transform: translate(-50%, -29.45rem);
}

.footer {
  background-color: #2a4365;
  padding: 3rem 0rem;
}

.footer__container {
  display: flex;
  align-items: center;
  max-width: 69.75rem;
  margin: 0 auto;
}

.footer__list {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__link {
  text-decoration: none;
  padding: 0.5rem 0rem;
  font-size: 1.25rem;
  line-height: 1.15;

  color: #fffcfe;

  transition: all 250ms linear;
}

.footer__link:hover,
.footer__link:focus {
  color: #4299e1;
}
