.container {
  max-width: 666px;
  margin: 0 auto;

  background-color: #f7fafc;
  position: relative;
}

.header {
  padding: 1.3rem 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  z-index: 1;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

.nav__link {
  text-decoration: none;
  color: #fffcfe;
  padding: 0.5rem 0;
  font-size: 1rem;
  line-height: 1.15;

  transition: all 250ms linear;
}

.nav__link:hover,
.nav__link:focus {
  color: #2d3748;
}

.hero {
  position: relative;
  padding-top: 8.312rem;
  padding-bottom: 13.625rem;
  text-align: center;
}

.hero img {
  position: absolute;
  top: 0;
  left: 0;
}

.hero div {
  position: relative;
  z-index: 1;
}

.hero__logo {
  color: #f7fafc;
  font-size: 3.26rem;
  line-height: 1.17;

  z-index: 10;
}

.hero__logo span {
  color: #2d3748;
}

.hero__title {
  font-size: 1.2rem;
  color: #fffcfe;

  line-height: 1.175;
}

.hero__btn {
  display: inline-block;
  margin-top: 1.125rem;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #2a4365;
  padding: 0.875rem 0.562rem;
  border: 2px solid #2a4365;
  border-radius: 5px;

  font-size: 1.2rem;
  line-height: 1.167;

  transition: all 250ms linear;
}

.hero__btn:hover,
.hero__btn:focus {
  color: #2d3748;
  border-color: #2d3748;
}

.hero__description {
  color: #000000;
  font-size: 0.938rem;
  line-height: 1.2;
}

.feature {
  height: 15rem;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.feature img {
  padding-left: 1rem;
  padding-right: 1rem;
  width: auto;
  height: auto;

  position: absolute;
  top: 0;
  left: 50%;

  transform: translate(-50%, -50%);
}

.footer {
  background-color: #2a4365;
  padding: 1rem 1rem;
}

.footer__list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0.5rem;
}

.footer__link {
  text-decoration: none;
  padding: 0.5rem 0rem;
  font-size: 1rem;

  color: #fffcfe;

  transition: all 250ms linear;
}

.footer__link:hover,
.footer__link:focus {
  color: #4299e1;
}

@media screen and (min-width: 666px) {
  .container {
    max-width: 768px;
  }

  .header {
    padding: 2.25rem 2.5rem;
  }

  .nav ul {
    justify-content: space-evenly;
  }

  .nav__link {
    font-size: 1.25rem;
  }

  .hero {
    padding-top: 10.312rem;
    padding-bottom: 15.625rem;
  }

  .hero__logo {
    font-size: 4.26rem;
  }

  .hero__title {
    font-size: 1.5rem;
  }

  .hero__btn {
    margin-top: 2.125rem;
    margin-bottom: 1.437rem;
    color: #ffffff;
    padding: 1.875rem 1.562rem;
    border: 3px solid #f7fafc;
    font-size: 1.6rem;
  }

  .hero__description {
    color: #ffffff;
  }

  .feature img {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
  }

  .nav ul {
    justify-content: end;
    gap: 5.125rem;
  }

  .hero {
    position: relative;
    padding-top: 13.312rem;
    padding-bottom: 17.625rem;
    text-align: center;
  }

  .hero__logo {
    font-size: 5.26rem;
  }

  .hero__title {
    font-size: 2rem;
    color: #fffcfe;
  }

  .hero__btn {
    margin-top: 3.125rem;
    margin-bottom: 1.437rem;
    font-size: 1.875rem;
  }

  .hero__description {
    color: #ffffff;
    font-size: 0.938rem;
    line-height: 1.2;
  }

  .feature {
    position: relative;
    height: 45rem;
  }

  .feature img {
    max-width: 768px;

    /* position: absolute;
    top: 0;
    left: 50%;

    transform: translate(-50%, -50%); */
  }

  .footer {
    background-color: #2a4365;
    padding: 3rem 0rem;
  }

  .footer__container {
    display: flex;
    align-items: center;
    max-width: 69.75rem;
    margin: 0 auto;
  }

  .footer__list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__link {
    text-decoration: none;
    padding: 0.5rem 0rem;
    font-size: 1.25rem;
    line-height: 1.15;

    color: #fffcfe;

    transition: all 250ms linear;
  }

  .footer__link:hover,
  .footer__link:focus {
    color: #4299e1;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;

    background-color: #f7fafc;
    position: relative;
  }

  .header {
    padding: 2.25rem 2.5rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    z-index: 1;
  }

  .nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5.125rem;
    background: transparent;
  }

  .nav__link {
    text-decoration: none;
    color: #fffcfe;
    padding: 0.5rem 0;
    font-size: 1.25rem;
    line-height: 1.15;

    transition: all 250ms linear;
  }

  .nav__link:hover,
  .nav__link:focus {
    color: #2d3748;
  }

  .hero {
    position: relative;
    padding-top: 13.312rem;
    padding-bottom: 33.625rem;
    text-align: center;

    border-bottom-left-radius: 150%;
    border-bottom-right-radius: 150%;
  }

  .hero img {
    position: absolute;
    top: 0;
    left: 0;
  }

  .hero div {
    position: relative;
    z-index: 1;
  }

  .hero__logo {
    color: #f7fafc;
    font-size: 6.26rem;
    line-height: 1.17;

    z-index: 1111;
  }

  .hero__logo span {
    color: #2d3748;
  }

  .hero__title {
    font-size: 2.5rem;
    color: #fffcfe;

    line-height: 1.175;
  }

  .hero__btn {
    display: inline-block;
    margin-top: 3.125rem;
    margin-bottom: 1.437rem;
    text-decoration: none;
    color: #ffffff;
    padding: 1.875rem 1.562rem;
    border: 3px solid #f7fafc;
    border-radius: 5px;

    font-size: 1.875rem;
    line-height: 1.167;

    transition: all 250ms linear;
  }

  .hero__btn:hover,
  .hero__btn:focus {
    color: #2d3748;
    border-color: #2d3748;
  }

  .hero__description {
    color: #ffffff;
    font-size: 0.938rem;
    line-height: 1.2;
  }

  .feature {
    position: relative;
    height: 45rem;
  }

  .feature img {
    max-width: 70.1875rem;
    height: auto;

    position: absolute;
    top: 0;
    left: 50%;

    transform: translate(-50%, -29.45rem);
  }

  .footer {
    background-color: #2a4365;
    padding: 3rem 0rem;
  }

  .footer__container {
    display: flex;
    align-items: center;
    max-width: 69.75rem;
    margin: 0 auto;
  }

  .footer__list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__link {
    text-decoration: none;
    padding: 0.5rem 0rem;
    font-size: 1.25rem;
    line-height: 1.15;

    color: #fffcfe;

    transition: all 250ms linear;
  }

  .footer__link:hover,
  .footer__link:focus {
    color: #4299e1;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;

    background-color: #f7fafc;
    position: relative;
  }

  .header {
    padding: 2.25rem 2.5rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    z-index: 1;
  }

  .nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5.125rem;
    background: transparent;
  }

  .nav__link {
    text-decoration: none;
    color: #fffcfe;
    padding: 0.5rem 0;
    font-size: 1.25rem;
    line-height: 1.15;

    transition: all 250ms linear;
  }

  .nav__link:hover,
  .nav__link:focus {
    color: #2d3748;
  }

  .hero {
    position: relative;
    padding-top: 13.312rem;
    padding-bottom: 33.625rem;
    text-align: center;

    border-bottom-left-radius: 150%;
    border-bottom-right-radius: 150%;
  }

  .hero img {
    position: absolute;
    top: 0;
    left: 0;
  }

  .hero div {
    position: relative;
    z-index: 1;
  }

  .hero__logo {
    color: #f7fafc;
    font-size: 6.26rem;
    line-height: 1.17;

    z-index: 1111;
  }

  .hero__logo span {
    color: #2d3748;
  }

  .hero__title {
    font-size: 2.5rem;
    color: #fffcfe;

    line-height: 1.175;
  }

  .hero__btn {
    display: inline-block;
    margin-top: 3.125rem;
    margin-bottom: 1.437rem;
    text-decoration: none;
    color: #ffffff;
    padding: 1.875rem 1.562rem;
    border: 3px solid #f7fafc;
    border-radius: 5px;

    font-size: 1.875rem;
    line-height: 1.167;

    transition: all 250ms linear;
  }

  .hero__btn:hover,
  .hero__btn:focus {
    color: #2d3748;
    border-color: #2d3748;
  }

  .hero__description {
    color: #ffffff;
    font-size: 0.938rem;
    line-height: 1.2;
  }

  .feature {
    position: relative;
    height: 45rem;
  }

  .feature img {
    max-width: 70.1875rem;
    height: auto;

    position: absolute;
    top: 0;
    left: 50%;

    transform: translate(-50%, -29.45rem);
  }

  .footer {
    background-color: #2a4365;
    padding: 3rem 0rem;
  }

  .footer__container {
    display: flex;
    align-items: center;
    max-width: 69.75rem;
    margin: 0 auto;
  }

  .footer__list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__link {
    text-decoration: none;
    padding: 0.5rem 0rem;
    font-size: 1.25rem;
    line-height: 1.15;

    color: #fffcfe;

    transition: all 250ms linear;
  }

  .footer__link:hover,
  .footer__link:focus {
    color: #4299e1;
  }
}

@media screen and (min-width: 1366px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;

    background-color: #f7fafc;
    position: relative;
  }

  .header {
    padding: 2.25rem 2.5rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    z-index: 1;
  }

  .nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5.125rem;
    background: transparent;
  }

  .nav__link {
    text-decoration: none;
    color: #fffcfe;
    padding: 0.5rem 0;
    font-size: 1.25rem;
    line-height: 1.15;

    transition: all 250ms linear;
  }

  .nav__link:hover,
  .nav__link:focus {
    color: #2d3748;
  }

  .hero {
    position: relative;
    padding-top: 13.312rem;
    padding-bottom: 33.625rem;
    text-align: center;

    border-bottom-left-radius: 150%;
    border-bottom-right-radius: 150%;
  }

  .hero img {
    position: absolute;
    top: 0;
    left: 0;
  }

  .hero div {
    position: relative;
    z-index: 1;
  }

  .hero__logo {
    color: #f7fafc;
    font-size: 6.26rem;
    line-height: 1.17;

    z-index: 1111;
  }

  .hero__logo span {
    color: #2d3748;
  }

  .hero__title {
    font-size: 2.5rem;
    color: #fffcfe;

    line-height: 1.175;
  }

  .hero__btn {
    display: inline-block;
    margin-top: 3.125rem;
    margin-bottom: 1.437rem;
    text-decoration: none;
    color: #ffffff;
    padding: 1.875rem 1.562rem;
    border: 3px solid #f7fafc;
    border-radius: 5px;

    font-size: 1.875rem;
    line-height: 1.167;

    transition: all 250ms linear;
  }

  .hero__btn:hover,
  .hero__btn:focus {
    color: #2d3748;
    border-color: #2d3748;
  }

  .hero__description {
    color: #ffffff;
    font-size: 0.938rem;
    line-height: 1.2;
  }

  .feature {
    position: relative;
    height: 45rem;
  }

  .feature img {
    max-width: 70.1875rem;
    height: auto;

    position: absolute;
    top: 0;
    left: 50%;

    transform: translate(-50%, -29.45rem);
  }

  .footer {
    background-color: #2a4365;
    padding: 3rem 0rem;
  }

  .footer__container {
    display: flex;
    align-items: center;
    max-width: 69.75rem;
    margin: 0 auto;
  }

  .footer__list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__link {
    text-decoration: none;
    padding: 0.5rem 0rem;
    font-size: 1.25rem;
    line-height: 1.15;

    color: #fffcfe;

    transition: all 250ms linear;
  }

  .footer__link:hover,
  .footer__link:focus {
    color: #4299e1;
  }
}
